<!DOCTYPE html>
<html>
	<head>
		{% block head%}
		<title>
			{{ user.name }}'s Watchlist
		</title>
		<link rel = "stylesheet" href="{{ url_for('static',filename = 'style.css') }}">
		{% endblock head%}
	</head>
	<body>
		<h2>{{ user.name }}'s Watchlist </h2>
		<nav>
			<ul>
				<li><a href = "{{ url_for('index')}}" > Home </a></li>
				
		{% if current_user.is_authenticated %}

		<li><a href = "{{ url_for('settings')}}">{{ current_user.name}}</a></li>
				<li><a href = "{{ url_for('logout')}}">Logout</a></li>
		{% else %}
				<li><a href = "{{ url_for('login')}}" > Login </a></li>
		{% endif %}
			</ul>
		</nav>
		{% for message in get_flashed_messages()%}
		<div class = 'alert'>{{ message}}</div>
		{% endfor %}

		{% block content %}
		{% endblock content %}

		<img  alt = "Walking Totoro " class = "totoro" src = "{{ url_for('static',filename = 'images/to.gif')}}"/>
	</body>
</html>
